<div class="row">
    <div class="large-12 columns">
        <div class="row content">
            <div class="row">
                
                <div class="large-4 columns large-offset-3 small-2 small-offset-2" ><input type="text" placeholder="Search" /></div>

            </div>
            <div class="large-12 columns">
                <div class="row blocks">
                    <div class="large-4 small-6 columns card boxShadow17">
                        <div class="name">
                            Програмная инженерия
                        </div>
                        <div class="salary-wrapper">
                                <h4>4000 - 8000</h4>
                        </div>
                    </div>

                    <div class="large-4 small-6 columns card boxShadow17">
                        <div class="name">
                            Програмная инженерия
                        </div>
                        <div class="salary-wrapper">
                            <h4>4000 - 8000</h4>
                        </div>
                    </div>

                    <div class="large-4 small-6 columns card boxShadow17">
                        <div class="name">
                            Програмная инженерия
                        </div>
                        <div class="salary-wrapper">
                            <h4>4000 - 8000</h4>
                        </div>
                    </div>

                    <div class="large-4 small-6 columns card boxShadow17">
                        <div class="name">
                            Програмная инженерия
                        </div>
                        <div class="salary-wrapper">
                            <h4>4000 - 8000</h4>
                        </div>
                    </div>

                    <div class="large-4 small-6 columns card boxShadow17">
                        <div class="name">
                            Програмная инженерия
                        </div>
                        <div class="salary-wrapper">
                            <h4>4000 - 8000</h4>
                        </div>
                    </div>

                    <div class="large-4 small-6 columns card boxShadow17">
                        <div class="name">
                            Програмная инженерия
                        </div>
                        <div class="salary-wrapper">
                            <h4>4000 - 8000</h4>
                        </div>
                    </div>
                </div>



               
            </div>
        </div>
        <footer class="row">

            <div class="large-12 columns">
                <hr />
                <div class="row">

                    <div class="large-6 columns">
                        <p>© Copyright no one at all. Go to town.</p>
                    </div>

                  
                </div>
            </div>
        </footer>
    </div>
</div>